.row{ :class => gallery_brick.to_style_class }
  .columns
    %ul{ 'data-orbit' => true }
      - Gallery.find(gallery_brick.gallery_id).gallery_images.each do |gallery_image|
        %li
          = image_tag gallery_image.image(:big)
