.orbit-container
  padding: rem-calc(10 0)

  img
    margin: 0 auto

  .orbit-prev, .orbit-next
    &:hover
      background-color: rgba(#222, .5)
    background-color: rgba(#DDD, .5)
    background-size: contain
    background-repeat: no-repeat
    span
      display: none

  .orbit-prev
    background-image: image-url('arrow_left.png')

  .orbit-next
    background-image: image-url('arrow_right.png')
