%ul.breadcrumb
  %li
    = link_to resource_class.model_name.human(count: 2), "/cms/#{controller.controller_name}"
    %span.divider /

%h1= t('.title', name: resource_class.model_name.human)
= render 'tab_nav'
