%section.country-selector
  .wrapper
    .row
      .columns.large-10
        .row
          .columns.large-6
            %h3 #{t('.title')}
            %h4 #{t('.text')}
          .columns.large-6
            = render 'representations/form', brick_id: fake_representations_placeholder_brick_id

    = render 'representations/representations_list', brick_id: fake_representations_placeholder_brick_id
