.top-bar-wrapper
  .row
    .columns
      %nav#main-nav.top-bar{ role: 'navigation', 'data-topbar' => true }
        %ul.title-area
          %li.toggle-topbar.menu-icon
            %a{ href: "#"}
              %span Menü
        %section.top-bar-section
          = render_navigation(level: 1)
      %nav#sub-nav.top-bar{ role: 'navigation', 'data-topbar' => true }
        %section.top-bar-section
          = render_navigation(level: 2)
