.production-line
  - if @production_segments.present?
    = render 'production_segments/form', brick_id: brick_id

    %div{ id: "production-segments-list-#{brick_id}" }
      = render 'production_segments/list', brick_id: brick_id

    = render 'production_segments/link_list', brick_id: brick_id

  - else
    %p Es wurden noch keine Produktionsstrassen oder Produktionssegmente erfasst.
