%div{ :class => image_brick.to_style_class }
  - if image_brick.href.present? && image_brick.image_present?
    = link_to(image_tag(image_brick.image.converted.url), image_brick.href)
  - else
    = image_tag image_brick.image.converted.url if image_brick.image_present?