.row
  .columns.large-12
    - if @page.children.published.translated.present?
      .tab-nav.section-container.auto{ 'data-section' => '', 'data-options' => 'deep_linking: true'}
        - @page.children.published.translated.each do |sub_page|
          %section.section
            %h1.title{ 'data-section-title' => ''}
              = link_to sub_page.title, "##{sub_page.slug}"
            .content{ 'data-section-content' => '', 'data-slug' => sub_page.slug }
              - if sub_page.bricks.map(&:type).include? "Kuhsaft::PlaceholderBrick"
                - unless sub_page.blank?
                  - sub_page.bricks.localized.select(&:valid?).each do |brick|
                    = render brick
              - else
                - cache [sub_page, I18n.locale] do
                  - unless sub_page.blank?
                    - sub_page.bricks.localized.select(&:valid?).each do |brick|
                      = render brick
